<div class="col-md-12 item">
  <div class="name col-md-3">
    <%= task.name %>
  </div>
  <div class="col-md-5">
  </div>
  <div class="col-md-2">
    <% if task.finished? @user.user_tasks, user_subject %>
      <button class="btn btn-success disabled"> <%= t "application.buttons.finished" %></button>
    <% else %>
      <button class="btn btn-danger disabled"> <%= t "application.buttons.trainning" %></button>
    <% end %>
  </div>
  <div class="col-md-2">
  </div>
</div>
