<div class="activity">
  <h2><%= t ".application.general.activity_log" %></h2>
  <div class="activity-list">
    <%= render "shared/activities", activities: activities %>
  </div>

  <% if activities.next_page %>
    <a id="load_more" href="#">
      <%= t ".load_more" %>
    </a>
  <% end %>

  <%= will_paginate activities, class: "hide pagination" %>
</div>
