<h2><%= t ".application.general.activity_log" %></h2>
<% activities.each do |activity| %>
  <p>
    <%= link_to activity.user.name, activity.user %>
    <%= t "activities.general.#{activity.action_type}", target: activity.target_name %>
    <span class="small">
      <%= t "application.general.timeago", time: time_ago_in_words(activity.created_at) %>
    </span>
  </p>
<% end %>
