<% activities.each do |activity| %>
  <p>
    <% if @user == current_user %>
      <%= t "application.general.you" %>
    <% else %>
      <%= link_to activity.user.name, activity.user %>
    <% end %>
    <%= t "activities.general.#{activity.action_type}",
      target: activity.target_name %>
    <span class="small">
      <%= t "application.general.timeago", time: time_ago_in_words(activity.created_at) %>
    </span>
  </p>
<% end %>
