<div class="fields">
    <%= link_to_remove_fields t(".remove_task"), f %><br />
    <div class="row">
      <div class="col-lg-8">
        <%= f.text_field :name, class: "form-control",
          placeholder: t("supervisor.subjects.new.Name") %>
      </div>
      <div class="col-lg-2">
        <%= f.number_field :order, class: "form-control",
          placeholder: t("supervisor.subjects.new.Position") %>
      </div>
    </div>
</div>

