<% provide :title, t(".title") %>
<div class="page-header">
  <%= link_to t("application.buttons.cancel"), supervisor_subject_path(@subject),
    class: "btn btn-default pull-right" %>
  <h3><%= t ".title" %></h3>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <%= render "form" %>
  </div>
</div>
