<% provide :title, t("application.general.subject") %>
<div class="page-header">
  <ul class="list-inline pull-right">
    <li>
      <%= link_to t("application.buttons.edit"),
        edit_supervisor_subject_path(@subject), class: "btn btn-primary" %>
    </li>
    <li>
      <%= link_to t("application.buttons.delete"), [:supervisor, @subject],
        method: :delete, data: {confirm: t("application.messages.confirm")},
        class: "btn btn-danger" %>
    </li>
  </ul>
  <h2><%= @subject.name %></h2>
</div>
<div class="row">
  <div class="col-lg-12">
    <p><%= @subject.instruction %></p>
  </div>
</div>
