<div class="block">
  <h3>
    <%= t ".title", course: @course.name %>
  </h3>

  <% if @users.count > 0 %>
    <%= render "form" %>
  <% else %>
    <h3>
      <%= t ".no_trainee" %>
    </h3>
  <% end %>
</div>
