<li><%= link_to t("application.general.courses"), supervisor_courses_path %></li>
<li><%= link_to t("application.general.subjects"), supervisor_subjects_path %></li>
<li><%= link_to t("application.general.users"), supervisor_users_path %></li>
